html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
}
.h1{
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin-bottom: 20px;
}

button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(172, 208, 12);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
}

button:hover{
    background-color: rgb(191, 52, 52);
}

.parent{
    margin-top: 200px;
    background-color: lightseagreen;
    width: 400px;
    height: 230px;
    padding-top: 30px;
    margin-left: 500px;
    text-align: center;
    border-radius: 10px;
}

.h{
    color:rgb(59, 48, 55);
}